@import 'base';

footer {
  @include safe-rem(font-size, 14);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $grey-900;

  .fa {
    @include safe-rem(padding-right, 5);
    color: $white;
  }

  ul {
    @include safe-rem(padding, 100 0 0 0);
    text-align: center;
  }

  li {
    display: inline-block;

    // Stack footer links in mobile view
    @include breakpoint($mobile) {
      @include safe-rem(margin, 10 0);
      display: block;
    }

    // Stack footer links in tablet view
    @include breakpoint($tablet) {
      @include safe-rem(margin, 10 0);
      display: block;
    }

    @include breakpoint($desktop) {
      &:not(:last-of-type) {
        @include safe-rem(margin-right, 50);
      }
    }

  }

  p {
    @include safe-rem(padding, 50 0);
    @include safe-rem(font-size, 14);
    color: $tan-100;
    text-align: center;
  }
}

