@import 'base';

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
}

.upper-footer {
  @include safe-rem(padding, 100 0);
  @include safe-rem(font-size, 14);
  background-color: $grey-900;

  text-align: center;

  .fa {
    @include safe-rem(padding-right, 5);
    color: $white;
  }

  li {
    display: inline-block;

    &:not(:last-of-type) {
      @include safe-rem(margin-right, 50);
    }
  }

  p {
    @include safe-rem(margin-top, 50);
    color: $white;
    text-align: center;
  }
}

