@import 'base';

header {
  @include safe-rem(margin, 100 0);

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-of-type) {
      @include safe-rem(margin-right, 30);
    }
  }

  .profile-photo {
    @include circle(80);
  }

  .profile-name {
    color: $black;
  }

  .profile-tagline {
    font-family: "OpenSans LightItalic", serif;
    color: $grey-600;
  }
}
