@import 'base';

@-webkit-keyframes slide {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}

@-webkit-keyframes drop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}

@-webkit-keyframes screen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
