@import 'base';

nav {
  float: right;

  li {
    display: inline-block;

    &:not(:last-of-type) {
      @include safe-rem(margin-right, 30);
    }
  }

  a {
    @include safe-rem(font-size, 14);
    text-transform: uppercase;
    color: $tan-100;
  }

  .button {
    @include button($blue-500);
  }
}

