@import "base";

nav {
  @include safe-rem(margin-top, 23);
  float: right;

  a {
    @include safe-rem(font-size, 14);
    color: $tan-100;
    text-transform: uppercase;
  }

  .current {
    border-bottom: 1px solid rgba(172, 172, 164, 0.4);
    color: $black;
  }

  .button {
    @include button($blue-500);
  }
}
