@import '../components/base';

.community-projects {

  .col-3 {
    @include safe-rem(margin-bottom, 50);
    text-align: center;
  }

  img {
    @include transition(all .3s linear);
    @include circle(125);
    display: inline-block;

    &:hover {
      transform: scale(1.05) translate3d(0, 0, 0);
    }
  }
}

.community-filter-control {

  @include safe-rem(margin-bottom, 50);

  li {
    display: inline-block;
  }

  .filter {
    @include button($blue-500);
  }

  .active {
    @include button($green-500);
  }

}

//
.container {

  .mix {
    display: none;
  }
}

