@import '../components/base';

.community-page {
  .fa {
    @include safe-rem(font-size, 70);
    color: $tan-100;
  }

  .row {
    @include safe-rem(margin-bottom, 40);
  }

  .col-2 {
    text-align: center;
  }

}

.side-content {
  @include safe-rem(padding, 40);
  position: relative;
  border: 1px solid $grey-400;
  border-radius: 3px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .6) 100%) $tan-500;
  text-align: center;

  .screen {
    img {
      @include safe-rem(margin-bottom, 60);
      @include animate-drop();
      @include delay(.65s);
      width: 100%;
      box-shadow: inset 0 0 0 3px $white, inset 0 0 0 4px rgba(0, 0, 0, .1), 0 1px 40px rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .1);
    }
  }

  .logo {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    img {
      @extend %base-shadow;
      @include animate-drop();
      @include delay(1.50s);
      @include circle(125);
    }
  }

  .button {
    @include button-icon($grey-500, f09b);
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
    width: 180px;
    margin-right: auto;
    margin-left: auto;
  }
}
