@import "../components/base";

.enterprise-projects {
  border-top: 1px solid $grey-400;
  border-bottom: 1px solid $grey-400;
  background-color: $tan-500;

  article {
    @include safe-rem(margin, 50 0);
    @include animate-screen();
    @include delay(0.25);
    background-color: $tan-500;

    > .row {
      @include safe-rem(padding, 50);
      @include border-radius(3);
      background-color: $white;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
